# Dependencias
node_modules/

# Compilación
dist/
build/
.next/
.turbo/


# Archivos temporales
.DS_Store
*.log
.env
.env.local

# Documentos locales de prueba
*.xml
*.txt
*.zip

# Planos
docs/referencias/plano-local-planta-baja.png
